#content-section {
  // margin: 8rem 14rem;
  margin: 2rem 14rem;
}

.react-markdown-content {
  font-size: 1.1em;
  margin-top: 2rem;
  color: var(--text-color-2);
}

// .react-markdown-content h2:first-of-type {
//   display: none;
// }

.react-markdown-content ul:first-of-type {
  margin: 2rem auto;
  background: var(--card-bg);
  padding: 1rem 2rem;
  border-radius: 4px;
  box-shadow: var(--nav-shadow);

  li {
    margin-bottom: 0.6rem;

    a {
      color: var(--blue-dark);
      box-shadow: unset;

      &:hover {
        text-decoration: underline;
        background-color: unset;
      }
    }

    &:last-of-type {
      margin-bottom: unset;
    }
  }
}

.react-markdown-content p {
  margin: 2rem auto;
}

.react-markdown-content code {
  background: var(--code-bg);
  color: var(--code-color);
  padding: 0 0.4rem;
  font-weight: bold;
}

.react-markdown-content hr {
  border: none;
  border-bottom: 2.5px dashed var(--text-color) !important;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.react-markdown-content blockquote {
  border: none;
  margin: 2rem auto;
  border-left: 3.5px dashed var(--text-color-2);
  padding-left: 0.6em;

  ul {
    list-style: disclosure-closed;
    padding-left: 3rem;

    li {
      margin-bottom: 1rem;
    }
  }
}

.react-markdown-content a {
  color: var(--h-color);
  font-weight: 600;
  box-shadow: inset 0 -3px 0 #b4e7f8;
  transition: background 0.15s cubic-bezier(0.33, 0.66, 0.66, 1);
  &:hover {
    background-color: rgba(0, 255, 242, 0.3);
  }
}

.react-markdown-content img {
  border-radius: 8px;
  width: 100%;
  margin: 3rem auto;
  transition: transform 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.content-info .tags-group {
  margin-top: 1rem;

  span {
    font-size: 0.8em;
    margin: auto 0.4em;
  }
}
