.tag {
  display: inline-block;
  border-radius: 3px;
  padding: 0.2em 0.5em 0.3em;
  border-radius: 2px;
  font-weight: 600;
  margin: 0.25em 0.1em;
}

.tag-sm {
  font-size: 1em;
  display: inline-block;
  letter-spacing: 0.15ch;
  font-weight: 400;
}

.tag-contrast {
  background: var(--text-color-2);
  color: var(--background);
}

// TAGS

.tag-stock-market {
  background: #2775c3;
  color: white;
}

.tag-investing {
  background: var(--green);
  color: white;
}

.tag-short-selling {
  background: #dc0530;
  color: #fff;
}

.tag-accounting {
  color: white;
  background: var(--purple-light);
}

.tag-revenues,
.tag-expenses {
  background: var(--text-color);
  color: var(--background);
}

.tag-accural-accounting {
  background: var(--pink);
  color: whitesmoke;
}
