.tag {
  display: inline-block;
  border-radius: 3px;
  padding: 0.2em 0.5em 0.3em;
  border-radius: 2px;
  font-weight: 600;
  margin: 0.25em 0.1em;
}

.tag-sm {
  font-size: 1em;
  display: inline-block;
  letter-spacing: 0.15ch;
  font-weight: 400;
}

.tag-contrast {
  background: var(--tag-contrast-bg);
  color: var(--tag-contrast-color);
}

.tag-leverage {
  color: #313244;
  background: #adecf3;
}

// TAGS

// General

.tag-myths {
  color: white;
  background-image: linear-gradient(to right, #ff8901, #db1d5f);
  font-weight: bold;
}

.tag-investing {
  background: var(--green);
  color: white;
}

.tag-101 {
  color: #fff;
  background: #24292e;
}

.tag-history {
  background: #a4c34a;
  color: white;
}

.tag-business {
  color: white;
  background: #e10097;
}

.tag-dictionary {
  color: white;
  background-image: linear-gradient(to right, #e101ff, #3305ff);
  font-weight: bold;
}

// Stock Market

.tag-stock-market {
  background: #2775c3;
  color: white;
}

.tag-short-selling {
  background: #dc0530;
  color: #fff;
}

.tag-stock-exchange {
  background: white;
  color: #4a8afc;
}

.tag-stock-valuation {
  background: var(--pink);
  color: whitesmoke;
}

.tag-financial-ratios {
  background: #ffcb2b;
  color: #12181a;
}

.tag-pe-ratio {
  background: var(--pink);
  color: whitesmoke;
}

// Accounting

.tag-accounting {
  color: white;
  background: var(--purple-light);
}

.tag-accural-accounting {
  background: var(--pink);
  color: whitesmoke;
}
